%table.list-tbl.info-tbl
  %tbody
    - infos_on_list_table.each do | column, v |
      - c = ::Nard::Rails::DecoratorExt::CellDecoration::Html::Show::InNormalRow.new(v, d, column)
      %tr{ class: c.class_names_of_tr }
        %td.label-cell<
          = c.label
        %td{ class: c.class_names_of_value_cell }<
          = c.displayed_value
