%p
  \------------------------------------------------------------------------<br>
  『 #{Settings::Static.app_title} 』<br>
  #{Settings::Static.action_mailer.main_email_address}<br>
  #{Settings::Static.credit.on_mail_for_users}
  \------------------------------------------------------------------------
